/* define blue color*/
.myBlue {
    color: #537fbe;
}

/* size and color for the navbar brand */
nav .navbar-brand {
    font-size: xx-large;
}
/* style form-control contents */
main .form-control {
    display: inline-block;
    width: auto;
}
main {
    overflow-x: auto;
    text-align: center;
}
/* add padding to the footer */
.footnote {
    padding-bottom: 48px;
}
/* style the header for results.html */
#search-for {
    padding-bottom: 20px;
    color: slategray;
}
/* */
.review-box {
    width: 100%;
    height: 100px;
}