/* size and color for the navbar brand */
nav .navbar-brand {
    font-size: xx-large;
}
nav .navbar-brand .blue {
    color: #537fbe;
}
/* style form-control contents */
main .form-control {
    display: inline-block;
    width: auto;
}
main {
    overflow-x: auto;
    text-align: center;
}
/* add padding to the footer */
.footnote {
    padding-bottom: 48px;
}
/* style the header for results.html */
#search-for {
    text-align: left;
    padding-bottom: 20px;
    color: slategray;
}
/* style content for book.html */
#book-title, .d-block {
    text-align: left;
}