{% extends "layout.html %}

{% block title %}
    review
{% endblock %}

{% block main %}
    <form action="/review" method="post">
        <div class="form-group">
            <span>Your Rating:</span>
            <input autocomplete="off" autofocus class="form-control" name="rating" placeholder="1 to 5" type="number" min="1" max="5"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="review" placeholder="Enter your review" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}